<div class="content">
    <div class="container">
        <div class="row">
            <h2 class="title">Autoras</h2>
            <div class="col-md-6">
                <div class="principal">
                    <img src="../../../assets/luz.jfif" alt="Luz">
                    <div>
                        <h3 class="nombres">Luz María Rivas Montoya</h3>
                        <span class="area">Coordinadora y docente del área de estrategia de la Universidad
                            EAFIT.​​</span>

                        <p class="descrip">​Se ha desempeñado como docente y directiva de distintas universidades del
                            país. Coordinadora
                            de la Maestría en Ciencias de la Administración, profesora titular del Departamento de
                            Organización y Gerencia de la Escuela de Administración e investigadora del grupo La
                            Gerencia en Colombia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="principal">
                    <img src="../../../assets/_Martha Reyes Sarmiento.jpeg" alt="Martha">
                    <div>
                        <h3 class="nombres">Martha Eugenia Reyes Sarmiento</h3>
                        <span class="area">Directora del área de organización, dirección y estrategia de la
                            Universidad
                            EAFIT.​</span>

                        <p class="descrip">​Ph.D en Administración de la Universidad EAFIT con pasantía de investigación
                            de la
                            Univesidad de Zürich y becaria Colciencias. Desarrollé junto a mi directora de tesis, la
                            profesora Luz María Rivas Montoya Ph.D., la metodología trusting. Con un enfoque hacia el
                            practicante de la estrategia.​</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="team">Desarrolladores del Sitio Web</h2>

            <div class="col-md-6">
                <div class="principal">
                    <img src="../../../assets/Vrilli.jpeg" alt="Vrilli">
                    <div>
                        <h3 class="nombres">Vrilli Jhulie Castro Rodríguez</h3>
                        <span class="area">Desarrolladora Frontend y Estudiante de Fullstack.​​</span>

                        <p class="descrip">Desarrollador Front End React con más de 3 años de experiencia. Con
                            competencias para la creación desarrollo y modificación de sitios y la construcción de
                            aplicaciones web basadas en React, Typescript, Tailwind CSS, y sistemas de control de
                            versiones con git.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="principal">
                    <img src="../../../assets/yelisa.jpeg" alt="Yelisa">
                    <div>
                        <h3 class="nombres">Yelisa Palacio Mosquera</h3>
                        <span class="area">Estudiante de Fullstack.​​</span>

                        <p class="descrip">Soy una persona comprometida con mi trabajo, me gusta aportar mi conocimiento
                            para el desarrollo de proyectos y actividades que me ayuden a potenciar mi crecimiento
                            personal, Soy una persona honesta, responsable y respetuosa.</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="principal">
                    <img src="../../../assets/ely.jpeg" alt="Ely">
                    <div>
                        <h3 class="nombres">Ely Tobar</h3>
                        <span class="area">Estudiante Fullstack.​</span>

                        <p class="descrip">Soy estudiante de desarrollo web con poco de conocimiento en backend.​</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="principal">
                    <img src="../../../assets/danny.jpeg" alt="Danny">
                    <div>
                        <h3 class="nombres">Danny Murillo</h3>
                        <span class="area">Estudiante Fullstack.​</span>

                        <p class="descrip">​Ph.D en Administración de la Universidad EAFIT con pasantía de investigación
                            de la
                            Univesidad de Zürich y becaria Colciencias. Desarrollé junto a mi directora de tesis, la
                            profesora Luz María Rivas Montoya Ph.D., la metodología trusting. Con un enfoque hacia el
                            practicante de la estrategia.​</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>