<div class="content">
    <section class="grid-container">
        <div class="grid-item">
            <img class="img-item" src="../../../assets/home.png" alt="home">
        </div>
        <div class="proposito">
            <h1 class="text">PROPÓSITO </h1>
            <p class="section1">Fortalecer el tejido empresarial colombiano, sumándonos a las iniciativas para apoyar a
                las micros y
                pequeñas
                empresas que hay a lo largo del mundo, a partir de nuestro conocimiento y experiencia sobre estrategias
                en
                el contexto de las empresas colombianas.
            </p>
            <div class="button-container">
                <a href="#section2" class="rounded-button">Conoce más
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <section id="section2" class="grid-container">
        <div class="proposito">
            <h1 class="text">¿Por qué y para qué escribir este manual?</h1>
            <p class="section2">Este manual es escrito con el fin de que micronegocios, pequeñas y medianas empresas
                conozcan y
                reconozcan la importancia de tener una estrategia clara para difundir ante el mundo lo importante y
                necesario que es tener buenos prestigios.

                Lo más importante es que los diferentes empresarios tengan conocimiento de una estrategia que pueda
                ayudarlos a que su negocio cada vez tenga más y mejores resultados, y así todos puedan tener la
                oportunidad de obtener un lugar adecuado para su negocio, puedan tener una razón social que los
                represente y puedan generar pago a su seguridad social de manera completa.
            </p>
        </div>
        <div class="grid-item">
            <img class="img-item" src="../../../assets/setion2.png" alt="home">
        </div>
    </section>

    <section class="grid-container-4">
        <div class="container-section-4">
            <div class="grid-item-2">
                <div class="section3">
                    <h1>¿Por qué confiar en Estramipyme?</h1>
                    <p>
                        Este grupo ha jugado un rol central en el desarrollo de este libro, no solo porque hemos
                        aprendido
                        de
                        los beneficios y dificultades de la estrategia, sino porque hemos concretado distintas maneras
                        de
                        llevar
                        este conocimiento a miles de estudiantes de educación formal e informal.
                    </p>
                </div>
            </div>
            <div class="grid-item-2">
                <div class="section3">
                    <h1>¿Cuál es la promesa de valor de la consultoría en estrategia que fundamenta Estramipyme?</h1>
                    <p>
                        La promesa de valor del Modelo 10 de Consultoría en Estrategia que emergió después de varias
                        reuniones
                        del grupo continúa siendo un faro para quienes pensamos que la consultoria, es uno de los
                        caminos
                        que
                        podemos recorrer para aprender y, simultáneamente, aportar al fortalecimiento del tejido
                        empresarial
                        de
                        nuestro país.
                    </p>
                </div>
            </div>
            <div class="grid-item-2">
                <div class="section3">
                    <h1>¿Cómo se creó Estramipyme?</h1>
                    <p> Para la creaccreación de este se tuvo encuenta cinco etapas:</p>
                    <ol>
                        <li>Ideación.</li>
                        <li>Revisión con el grupo de estudio en estrategia.</li>
                        <li> 3.Revisión con expertos en pymes.</li>
                        <li>Aplicación y validación de la metodología con una pyme.</li>
                        <li>Presentación de la versión final de la metodología.</li>
                    </ol>
                </div>
            </div>
            <div class="grid-item-2">
                <div class="section3">
                    <h1>¿Qué no encontrarás en este texto, pero debes tener en cuenta?</h1>
                    <p>NO se abordaron ciertos niveles, como la estrategia corporativa y temas de cultura y
                        talento, sino que se buscó simplificar los elementos más críticos para facilitar su comprensión
                        en
                        el
                        día a día.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>