/* Estilos de la grilla */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
}
.text{
    color:  #1D4981;
    font-size: 30px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

}

/* Estilos del contenido */
.content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.grid-item {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-item {
    width: 60%;
    height: auto;
}

.proposito {
    padding: 10px 20px;
}

.grid-item h1 {
    color: #1D4981;
    font-weight: bold;
}

.section1,
.section2,
.section3 {
    width: 100%;
    max-width: 100%;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Estilos del botón */
.rounded-button {
    border: none;
    background-color: #1D4981;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.rounded-button:hover {
    background-color: #004389;
}

.rounded-button svg {
    margin-left: 5px;
}

/* Estilos para la sección 4 */
.grid-container-4 .container-section-4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
}

@media (min-width: 768px) {
    .grid-container-4 .container-section-4 {
        grid-template-columns: 1fr 1fr;
    }

}

.container-section-4 {
    padding: 20px;
}

.grid-item-2 {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item-2 h1 {
    font-size: 24px;
    /* Ajusta el tamaño de la fuente */
    color: #1D4981;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.grid-item-2:nth-child(odd) {
    animation-delay: 0s;
}

.grid-item-2:nth-child(even) {
    animation-delay: 0.2s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}