<div class="testimonios-container">
  <!-- Testimonio 1 -->
   <h1 class="testi">Testimonios</h1>
  <div class="testimonio-item">
    <div class="testimonio-header">
      <img src="../../../assets/jaime.jpg" alt="Imagen testimonio">
      <div class="testimonio-info">
        <h3>Jaime </h3>
        <p>CEO, Mabeka</p>
      </div>
    </div>
    <p class="testimonio-texto">Jaime inicialmente aspiraba a ser ingeniero, pero circunstancias lo llevaron a trabajar
      en la carpintería de su padre mientras estudiaba sistemas. A pesar de sus planes iniciales, descubrió su pasión
      por la carpintería al volverse independiente, diseñando y operando su propio taller, Mabeka. Su éxito se basa en
      la responsabilidad, calidad y compromiso con los clientes, lo que le ha permitido crecer y emplear a dos personas
      más.

      Aunque enfrentó desafíos como la pandemia y crisis económicas, Jaime ha logrado mantener y hacer crecer Mabeka,
      trabajando ahora con un equipo de consultoría estratégica para fortalecer aún más su negocio. Esta historia
      ilustra cómo Estramipyme está ayudando a microempresas como la suya a desarrollar estrategias competitivas
      efectivas para superar desafíos y crecer de manera sostenible.</p>
  </div>

  <!-- Testimonio 2 -->
  <div class="testimonio-item">
    <div class="testimonio-header">
      <img src="../../../assets/autoras.jpeg" alt="Imagen testimonio">
      <div class="testimonio-info">
        <h3>Luz María y Martha Eugenia </h3>
        <p>Autoras de Estramipyme.</p>
      </div>
    </div>
    <p class="testimonio-texto">Para el diagnóstico de Mabeka, aplicamos las primeras etapas de la metodología
      Estramipyme: explorar y conocer. Utilizamos búsquedas en internet y entrevistas semiestructuradas con Jaime,
      clientes y empleados para comprender a fondo el negocio y sus actores clave. Mabeka, fundada en 2005, se
      especializa en carpintería artesanal, ofreciendo productos como cocinas integrales, baños, clósets, y muebles
      comerciales. Los clientes elogian la puntualidad y la alta calidad de sus productos, recomendando sus servicios
      para diversos proyectos de diseño y construcción.</p>
  </div>
</div>