/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 150vh;
    margin: 0 auto;
    margin-top: 80px;
    height: 50vh;
}


/* Estilos para las columnas */
.container-grid {
    flex: 1;
   padding: 30px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .container-grid {
        flex: 100%;
        max-width: 100%;
    }
}

/* Estilos específicos del formulario */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #205A8C;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #308aebb9;
}

/* Estilos adicionales */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
