/* Estilos del menú de navegación */
.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px;
    width: 100%;
    background: linear-gradient(to right, #F2F2F2, #205A8C);
    z-index: 1000;
}

.logo img {
    max-height: 50px;
}

.navegacion_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navegacion_menu li {
    margin-right: 20px;
}

.navegacion_menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navegacion_menu li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.boton-cerrar {
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.boton-cerrar:hover {
    background-color: #004389;
    /* Color de fondo al hacer hover */
}

.user-info {
    display: flex;
    align-items: center;
}



/* Estilos para el botón hamburguesa */
.boton-menu {
    display: none;
    /* Oculta el botón hamburguesa en escritorio */
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

/* Estilos para el menú hamburguesa en dispositivos móviles */

.navegacion_menu-responsive {
    position: absolute;
    top: calc(100% + 20px);
    /* Coloca el div justo debajo del navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra */
    padding: 30px;
    /* Espaciado interno */
    list-style-type: none;

    background-color: #205A8C;

    top: 60px;
    /* Ajusta la posición del menú desplegable */
    left: 0;
    width: 100%;
    z-index: 999;
    /* Asegura que esté por encima del contenido */
    display: none;
    /* Inicialmente oculto en pantallas grandes */
}

.navegacion_menu-responsive li {
    margin-bottom: 10px;
}

.navegacion_menu-responsive li svg {
    fill: white;
}

.navegacion_menu-responsive li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navegacion_menu-responsive li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .user-info {
      display: none;
    }
  }
  
@media (max-width: 768px) {

    /* Estilos para dispositivos móviles */
    .navegacion_menu {
        display: none;
        /* Oculta el menú principal en pantallas pequeñas */
    }

    .navegacion_menu-responsive {
        display: block;
        /* Muestra el menú hamburguesa en pantallas pequeñas */
    }

    .boton-menu {
        display: block;
        /* Muestra el botón hamburguesa solo en pantallas pequeñas */
        background: none;
        border: none;
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
    }
}

/* Estilos para el footer */
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.192);
    background-color: white;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    flex: 1;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section p:hover {
    color: #205A8C;
    cursor: pointer;
}

.footer-section p,
.footer-section a {
    margin: 5px 0;
    color: #bbb;
    text-decoration: none;
}

.footer-section a:hover {
    color: #205A8C;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.img-footer {
    width: 100px;
}