/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw; 
    margin: 0 auto;
    margin-top: 80px;
    height: 50vh;
}

/* Estilos para las columnas */
.container-grid {
    flex: 1;
    padding: 30px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .container-grid {
        flex: 100%;
        max-width: 100%;
    }
}

/* Estilos específicos del formulario */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
}

input[type="button"] {
    padding: 10px 15px;
    background-color: #0056b3;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #007bff;
}

/* Estilos adicionales */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.exito{
    font-size: 15px;
    color: rgb(158, 155, 155);
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
